.row
  .col-12
    %h1.mb-3
      = t("block") ##{@block.number}
      
    %dl.row
      %dt.col-3 = t("hash")
      %dd.col-9= @block.hash_address

      %dt.col-3 = t("miner")
      %dd.col-9= @block.miner
      %dt.col-3 = t("nonce")
      %dd.col-9= @block.nonce
      %dt.col-3 = t("timestamp")
      %dd.col-9= @block.timestamp
      %dt.col-3 = t("num")
      %dd.col-9= @block.number
      %dt.col-3 = t("diff")
      %dd.col-9= @block.difficulty
      %dt.col-3 = t("size")
      %dd.col-9= number_to_human_size @block.size
      %dt.col-3 = t("gas_limit")
      %dd.col-9= @block.gas_limit
      %dt.col-3 = t("gas_used")
      %dd.col-9= @block.gas_used